.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(21, 23, 25);
  border-bottom: 1px solid rgb(37, 38, 40);
  height: 64px;
  min-height: 64px;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 12;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0;
}

.header-title {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -1.4px;
  line-height: 37px;
  white-space: nowrap;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: "TT Satoshi", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
