*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Satoshi", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: rgb(255, 255, 255);
}
.app {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(12, 13, 14);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: rgb(21, 23, 25);
}
